<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href = "@{/style.css}">
    <meta charset="UTF-8">
    <title>Новый сотрудник</title>
</head>
<body>

<ul class="menu-main">
    <li><a th:href="@{'/employee'}">Таблица всех сотрудников</a></li>
    <li><a th:href="@{'/schedule'}">Расписание работы</a></li>
    <li><a th:href="@{'/employee/new'}">Добавить нового сотрудника</a></li>
    <li><a th:href="@{'/medExamination'}">Медосмотр</a></li>
    <li><a th:href="@{'/myaccount'}">Личный кабинет</a></li>
</ul>

<div>
<h1>Анкета сотрудника</h1>
<h3>Шаг 2</h3>
<h3>Информация сотруднике</h3>
</div>

<div>

<form th:method="POST" th:action="@{/about/new}" th:object="${about}">
    <input type="hidden" th:field="*{id}" id="id"/>

    <p>
    <label for="salary">Введите часовую ставку: </label>
    <input type="number" value="100" th:field="*{salary}" id="salary"/>
    <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Name Error</div>
    </p>
    <p>
    <label for="status">Выберите статус сотрудника: </label>
    <select id="status" th:field="*{status}">
        <option th:value="Активен" th:text="Активен"> </option>
        <option th:value="Болеет" th:text="Болеет"> </option>
        <option th:value="Отпуск"> В отпуске </option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</div>
    </p>
    <p>
    <label for="date">Выберите дату последнего медосмотра (если медосомтр еще не пройдет выберите 01.01.2019): </label>
    <input id="date" type="date" name="date"
           min="2019-01-01" max="2023-12-31">
    <div th:if="${error}">
        <p style="color:red" th:text="${error}"></p>
    </div>
    </p>
    <input type="submit" value="Create!"/>
</form>
</div>

</body>
</html>