<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" th:href ="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href ="@{/style.css}">
</head>
<body>

<ul class="menu-main">
    <li><a th:href="@{'/employee'}">Таблица всех сотрудников</a></li>
    <li><a th:href="@{'/schedule'}">Расписание работы</a></li>
    <li><a th:href="@{'/employee/new'}">Добавить нового сотрудника</a></li>
    <li><a th:href="@{'/medExamination'}">Медосмотр</a></li>
    <li><a th:href="@{'/myaccount'}">Личный кабинет</a></li>
</ul>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>